{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'form-login'}}) }}
    <h1>S'inscrire</h1>
        <div class="form-control">
            {{ form_errors(registrationForm.email) }}
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>
        <div class="form-control">
            {{ form_errors(registrationForm.name) }}
            {{ form_label(registrationForm.name) }}
            {{ form_widget(registrationForm.name) }}
        </div>
        <div class="form-control">
            {{ form_errors(registrationForm.firstname) }}
            {{ form_label(registrationForm.firstname) }}
            {{ form_widget(registrationForm.firstname) }}
        </div>
        <div class="form-control">
            {{ form_errors(registrationForm.plainPassword) }}
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>

        <div>
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="button1 login-button">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
