{% extends 'baseAdmin.html.twig' %}


{% block body %}
    <h1>Les types d'événements</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" id="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card">
        <div class="card-header">
            <p><a class="btn btn-primary"  href="{{ path('admin.typeevent.new') }}">Ajouter</a></p>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for type_event in type_events %}

                    <tr>
                        <td>{{ type_event.name }}</td>
                        <td class="action">
                            <a href="{{ path('admin.typeevent.edit', {id:type_event.id}) }}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="{{ path('admin.typeevent.delete', {id:type_event.id}) }}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}