{% extends 'baseAdmin.html.twig' %}


{% block body %}
    <h1> Les événements</h1>

    {% include 'back/flashMessage.html.twig' %}

    <div class="card">
        <div class="card-header">
            <p><a class="btn btn-primary" href="{{ path('admin.event.new') }}">Ajouter</a></p>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th class="action-menu">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.date |  date('d.m.Y') }}</td>
                        <td>{{ event.status }}</td>
                        <td class="action">
                            <a href="{{ path('admin.event.edit', {id:event.id}) }}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="{{ path('admin.event.delete', {id:event.id}) }}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>





{% endblock %}