{% extends 'baseAdmin.html.twig' %}


{% block body %}
{#<div class="container">#}
{#    <div class="row">#}
        <h1>Ajout d'un événement</h1>
        <p><a href="{{ path('admin.event.index') }}">Retour</a></p>

        <div class="form-group">
            {{ form_start(form) }}

                {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
{#            {{ form_errors(form, {'attr': {'class': 'your-class'}}) }}#}

            {{ form_end(form) }}
        </div>

{#    </div>#}
{#</div>#}
{% endblock %}