{% extends 'baseAdmin.html.twig' %}


{% block body %}
    <div class="view-card">

        <div class="view-title">
            <h1>L'événement : {{ event.title }}</h1>
        </div>

        <div class="view-content">
            <table>
                <tr>
                    <th>Titre :</th>
                    <td>{{ event.title }}</td>
                </tr>
                <tr>
                    <th>Date :</th>
                    <td>{{ event.date | date('d.m.Y') }}</td>
                </tr>

                <tr>
                    <th>Heure :</th>
                    <td>{{ event.time | date('H:i') }}</td>
                </tr>
                <tr>
                    <th>Lieu :</th>
                    <td>{{ event.location }}</td>
                </tr>
                <tr>
                    <th>Description :</th>
                    <td>{{ event.description }}</td>
                </tr>
                <tr>
                    <th>Type d'événement :</th>
                    <td>{{ event.typeevent.name }}</td>
                </tr>
                <tr>
                    <th>L'organisateur :</th>
                    <td>{{ event.organiser.name }} {{ event.organiser.firstname }} <br> {{ event.organiser.email }}</td>
                </tr>
                <tr>
                    <th>Photo :</th>
                    <td><img src="{{ asset('images/events/' ~ event.picture) }}" alt=""></td>
                </tr>
            </table>

            <div class="mg-top-40">
                {% if event.status == 'valid' %}
                    <p>
                        <a class="btn btn-danger" href="{{ path('admin.event.waiting.refuse', {'id': event.id}) }}">Refuser </a>
                        <a class="btn btn-secondary mg-left-10" href="{{ path('admin.event.valid.index') }}">Retour </a>
                    </p>

                {% elseif event.status == 'refuse' %}
                    <p>
                        <a class="btn btn-primary" href="{{ path('admin.event.waiting.valid', {'id': event.id}) }}">Valider
                            l'événement</a>
                        <a class="btn btn-secondary mg-left-10" href="{{ path('admin.event.refuse.index') }}">Retour </a>
                    </p>

                {% else %}
                    <div class="display-f">
                        <p><a class="btn btn-primary"
                              href="{{ path('admin.event.waiting.valid', {'id': event.id}) }}">Valider
                                l'événement</a></p>
                        <p><a class="btn btn-danger mg-left-10" href="{{ path('admin.event.waiting.refuse', {'id': event.id}) }}">Refuser </a>
                        </p>
                        <p><a class="btn btn-secondary mg-left-10" href="{{ path('admin.event.waiting.index') }}">Retour </a></p>
                    </div>
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}