{% extends 'baseAdmin.html.twig' %}


{% block body %}
    <h1>Les Utilisateurs</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" id="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}

                    <tr>
                        <td>{{ user.name }}</td>
                        <td class="action">
                            <a href="{{ path('admin.user.edit', {id:user.id}) }}"><img class="icon-edit" src="{{ asset('icon/edit.svg') }}" alt=""></a>
                            <a href="{{ path('admin.user.delete', {id:user.id}) }}"><img class="icon-delete" src="{{ asset('icon/delete.svg') }}" alt=""></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}