{% extends 'base.html.twig' %}


{% block body %}


    <div class="event">


        {% for message in app.flashes('success') %}
            <div class="alert alert-success" id="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="event-content">
            <div class="event-content-right event-by-user-right">
                <p><a href="{{ path('event.participation.list') }}"><i class="fa-regular fa-calendar-days"></i> Mes participations</a></p>
                <p><a href="{{ path('new.event') }}"><i class="fa-solid fa-plus"></i> Créer un événement</a></p>
                <p><a href="{{ path('myevent.waiting') }}"><i class="fa-solid fa-hourglass-half"></i> Mes événements en attente</a></p>
            </div>

            <div class="event-content-left event-by-user-left">
                <h2 class="mg-top-0 mg-bot-40">Mes événements en attente</h2>
                {% for event in eventsWaiting %}
                    <div class="mg-bot-80 event-by-user-left-content">
                        <div>
                            <img src="{{ asset('images/events/' ~ event.picture) }}" alt="">
                        </div>
                        <div>
                            <p class="event-by-user-datetime">{{ event.date | date('l j F Y') }} {{ event.time | date('H:i') }}</p>
                            <p class="event-by-user-title">{{ event.title }}</p>
                            <p> Status : {{ event.status }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>




        {% for message in app.flashes('success') %}
            <div class="alert alert-success" id="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="event-content">
            <div class="event-content-right event-by-user-right">
{#                <p><a href="{{ path('event.participation.list') }}"><i class="fa-regular fa-calendar-days"></i> Mes participations</a></p>#}
{#                <p><a href="{{ path('new.event') }}"><i class="fa-solid fa-plus"></i> Créer un événement</a></p>#}
{#                <p><a href="{{ path('myevent.waiting') }}"><i class="fa-solid fa-hourglass-half"></i> Mes événements en attente</a></p>#}
            </div>

            <div class="event-content-left event-by-user-left">
                <h2 class="mg-top-0 mg-bot-40">Mes événements qui ont été refusé</h2>
                {% for event in eventsRefuse %}
                    <div class="mg-bot-80 event-by-user-left-content">
                        <div>
                            <img src="{{ asset('images/events/' ~ event.picture) }}" alt="">
                        </div>
                        <div>
                            <p class="event-by-user-datetime">{{ event.date | date('l j F Y') }} {{ event.time | date('H:i') }}</p>
                            <p class="event-by-user-title">{{ event.title }}</p>
                            <p> Status : {{ event.status }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>



    </div>

{% endblock %}