<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SH events{% endblock %}</title>
    <meta name="robots" content="noindex">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"#}
{#          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="#}
{#          crossorigin="anonymous" referrerpolicy="no-referrer"/>#}
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

<header>
    <a href="{{ path('index') }}"><img src="{{ asset('images/sh-event.png') }}" alt=""></a>
    <nav>
        <ul>
            <li><a class="button2" href="{{ path('index') }}">Accueil </a></li>
            {% if app.user %}
                <li><a class="button2" href="{{ path('event.participation.list') }}">Vos événements </a></li>
                <li><a class="button2" href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a class="button2" href="{{ path('app_login') }}">Se connecter</a></li>
                <li><a class="button1" href="{{ path('app_register') }}">S'inscrire</a></li>
            {% endif %}

        </ul>
    </nav>
</header>

{% block body %}
{% endblock %}

<footer>
        <div class="footer-section">
            <p>Nous suivre</p>
            <div>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

        <div class="footer-section ">
            <p>Votre compte</p>
            <div class="footer-section-account">
                {% if app.user %}
                    <a class="button2" href="{{ path('event.participation.list') }}">Vos événements </a>
                    <a class="button2" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="button2" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="button2" href="{{ path('app_register') }}">S'inscrire</a>
                {% endif %}
            </div>
        </div>
</footer>
</body>
</html>
